body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fotos/azuis_fundo.jpeg);
  }

/* /////MENU///// */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006aa3;
  }
  
  li {
    float: left;
    margin-left: 125px;
  }
  
  li a, .menudrop {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .menudrop {
    background-color: #4ca0ce;
  }
  
  li.menudrop {
    display: inline-block;
  }
  
  .conteudo_drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .conteudo_drop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .conteudo_drop a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .conteudo_drop {
    display: block;
  }

    /* cor da animação do mouse em cima da opção */  

li a:hover:not(.menuzinho) {
    transition: 0.5s;
    background-color: #4ca0ce;   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    }

      /* destacar em que página o usuário está */

li#destaque {
    font-weight: bolder;            
    background-color: #4ca0ce;
    border-radius: 5px;
  }

    /* Topo da pag */

.topo {
    color: aliceblue;
    background-color: #006aa3;
    padding: 10px;
    height: 80px; 
    }
    
  .balanca {
    width: 115px;
    position: relative;  /* balança */
    margin-left: 5px;
    }
  
  .ave {
    position: relative right;   
    width: 90px;      /* avezinha */
    margin-right: 15px;
  }
  h1#acessa {
    position: absolute;
    top: -7px;
    left: 150px;      /* acessa justiça */
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Cousine', monospace;
  }
  
  /* interface da pagina */

div#interface{
  width: 1230px;
  background-color: rgb(241, 239, 239);
  margin: 2px 50px 0px 50px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 20px;
}

div h2 {
  color: rgb(10, 29, 87);
  font-family: 'Cousine', monospace;
  text-transform: uppercase;
  font-size: 35px;
}

    /* localize aqui */

.Locais{
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		text-align: center;
		color: rgb(10, 29, 87);
}

.paragrafo_locais{
		padding: 30px;
		width: 700px;
		height: 80px;
		border-width: 1px;
		border-style: solid;
		border-color: #3CB371;
		border-radius: 10px;
		text-align: left;
		margin-left: 250px;
		color: rgb(10, 29, 87);
}

.Formatacao{
		text-align: left;
		margin-left: 250px;
}

iframe{
		border-radius: 10px;		
}

    /* notícias */

.paragrafo_noticias{
		padding: 30px;
		border-width: 1px;
		border-style: solid;
		border-color: #3CB371;
		border-radius: 10px;
		color: rgb(10, 29, 87);
  
}

    /* fale conosco */

fieldset{
		border-radius: 10px;
		border: 1px solid #3CB371;
		padding: 40px;
}

input{
		border-radius: 8px;
		border: 1px solid #3CB371;
}

.botao_faleconosco{
    border-radius: 8px;
    border: 1px solid #3CB371;
}

textarea{
		border-radius: 8px;
		border: 1px solid #3CB371;
}

    /* pergunta */

.paragrafo_pergunta{
		padding: 30px;
		border-width: 1px;
		border-style: solid;
		border-color: #3CB371;
		border-radius: 10px;
		color: rgb(10, 29, 87);
}

    /* sobre nós */

tr, td{
			padding: 20px;
}
    /* formatação dos paragrados das matérias selecionadas */

.paragrafos_artigos{
		text-align: justify;
		color: rgb(10, 29, 87);
}

    /* imagem notícia 1 */

.not_1{ 
		margin: auto;
		width: 400px;
		position: absotule;
		top: 50%;
		left: 50%;
		margin-left: 400px;
}

    /* imagem quem somos */

.quem_somos{
		width: 115px;
    		position: relative;
		border-radius: 50%;
}

 /* ods flutuante */

.botao_ods{
  position: fixed;
  width: 1px;   
  right: 500%;
  bottom: 500px;
}


.ods_flutuante{
  position: fixed;
  width: 200px;   
  right: 2%;
  bottom: 70px;
}

.ods_flutuante{
  background-color: #006aa3;
  border-color: #006aa3;
  border-width : 15px;
  border-radius: 50%;
  
}

.ods_flutuante:hover{
  border: 5px transparent rgb(94, 149, 252);
  transform: scale(1.1); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

 /* imagens e parágrafo pag principal*/
.paragrafo_noticias_pagprincipal{
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #3CB371;
  border-radius: 10px;
  color: rgb(10, 29, 87);
  display: flex;
  flex-direction: inherit;
}
.imagens_noticias_pagprincipal {
    width: 200px;
  display: inline block;
  margin-right: 15px;
  align-items: center;

}

.paragrafo_noticias_pagnoticias{
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #3CB371;
  border-radius: 10px;
  color: rgb(10, 29, 87);
  display: flex;
  flex-direction: inherit;
}
.imagens_noticias_pagnoticias {
    width: 200px;
  display: inline block;
  margin-right: 15px;
  align-items: center;

}